			<section id="contacto">
                <div class="container">
                    <div class="section-header wow fadeInUp">
                        <h2>Contacto</h2>
                    </div>
                    <div class="form">
                        <div id="sendmessage">Su consulta ha sido enviada. Gracias!</div>
                        <div id="errormessage"></div>
                        <form id="form_contacto" role="form" class="contactForm" method="post" onsubmit="return validar_form();">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Por favor ingrese al menos 4 caracteres"/>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Por favor ingrese un email válido"/>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Tel&eacute;fono" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-row">
                            
                            
                                <div class="form-group col-md-3">
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" placeholder="Fecha de Ingreso" id="input-fecha-ingreso">
                                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group col-md-3">
                                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" placeholder="Fecha de Salida" id="input-fecha-salida">
                                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group col-md-3">
                                        <select class="form-control" id="cantidad_adultos"> 
                                        	<option value="">Cantidad Adultos</option>
                                            <option value="1">1</option>                                             
                                            <option value="2">2</option>                                             
                                            <option value="3">3</option>                                             
                                        </select>
                                </div>
                                <div class="form-group col-md-3">
                                        <select class="form-control" id="cantidad_ninos"> 
                                        	<option value="">Cantidad Ni&ntilde;os</option>
                                            <option value="1">1</option>                                             
                                            <option value="2">2</option>                                             
                                            <option value="3">3</option>                                             
                                        </select>                                         
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" name="message" id="form_mensaje" rows="5" data-rule="required" data-msg="Por favor escriba un mensaje" placeholder="Mensaje"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="send-button">
                                <button class="send" type="submit">Enviar Mensaje</button>
                                {#<a href="" class="send">Enviar</a>#}
        						<div class="spinner" id="form_img_loading">
            						<div class="rect1"></div>
            						<div class="rect2"></div>
            						<div class="rect3"></div>
            						<div class="rect4"></div>
            						<div class="rect5"></div>
            					</div>
                            </div>
                            <div class="text-center mt-4">
                                <a href="{{ url('faqs') }}" class="faqs">Preguntas frecuentes y Política de cancelación</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>