		<section id="intro">
            <div class="intro-container">
                <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators"></ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="carousel-background">
                                <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/001.jpg') }}" alt="">
                            </div>
                            <div class="carousel-container">
                                <p>
                                    <span>Nuestra piscina </span><br>Descubierta y climatizada <br>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-background">
                                <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/002.jpg') }}" alt="">
                            </div>
                             <div class="carousel-container">
                                <p>
                                    <span>Amplias cabañas </span><br>Totalmente equipadas y rodeadas de un gran parque <br>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-background">
                                <img src="{{ asset('bundles/app/maquetado/img/intro-carousel/003.jpg') }}" alt="">
                            </div>
                             <div class="carousel-container">
                                <p>
                                    <span>Rodeado de tranquilidad </span><br>Y a solos 300 metros del mar <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">  <span class="carousel-control-prev-icon fas fa-angle-left" aria-hidden="true"></span>  <span class="sr-only">Anterior</span></a>
                    <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">  <span class="carousel-control-next-icon fas fa-angle-right" aria-hidden="true"></span>  <span class="sr-only">Siguiente</span></a>
                </div>
            </div>
        </section>