{% extends "AppBundle::Sitio/layout.html.twig" %}

{% set is_interna = true %}
{% block content %}
		
		{% include 'AppBundle:Sitio:intro-internas.html.twig' %}
		
        <main id="main">

            <section id="complejo">
                <div class="container wow fadeInUp">
                    <header class="section-header">
                        <h2>Cabaña Juani</h2>
                    </header>
                    <h3>Planta baja</h3>
                    <p>Living comedor con diván cama. Cocina integrada. Amplio dormitorio principal. Baño completo.</p>
                    <h3>Planta alta</h3>
                    <p>Entrepiso de madera con grandes ventanales, termina en balcón hacia el living. Baranda de 1.20m. Dos camas simples. Mesa de luz y placard.</p>
                    <h3>Equipamiento</h3>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Muebles estilo country</li>
                        <li><i class="fas fa-check-circle"></i> Living comedor con hogar a leña</li>
                        <li><i class="fas fa-check-circle"></i> Alarma individual</li>
                        <li><i class="fas fa-check-circle"></i> Wifi en la cabaña</li>
                        <li><i class="fas fa-check-circle"></i> Cocina convencional con horno</li>
                        <li><i class="fas fa-check-circle"></i> Microondas</li>
                        <li><i class="fas fa-check-circle"></i> Juego de jardín mesa y sillas</li>
                        <li><i class="fas fa-check-circle"></i> Capacidad hasta 4 personas</li>
                        <li><i class="fas fa-check-circle"></i> Black out en ventanas de dormitorios</li>
                        <li><i class="fas fa-check-circle"></i> LCD 32” con servicio de cable en el living</li>
                        <li><i class="fas fa-check-circle"></i> Vajilla completa</li>
                        <li><i class="fas fa-check-circle"></i> Heladera con freezer</li>
                        <li><i class="fas fa-check-circle"></i> Parrilla con deck individual</li>
                        <li><i class="fas fa-check-circle"></i> Estacionamiento cubierto con media sombra frente a la cabaña</li>
                        <li><i class="fas fa-check-circle"></i> Baño completo con bañera</li>
                    </ul>
                    {{ render(controller('AppBundle:Default:galeria',{galeria_id: 4})) }}
                </div>
            </section>

			{% include 'AppBundle:Sitio:formulario_contacto.html.twig' %}

        </main>
{% endblock %}        