{% extends "AppBundle::Sitio/layout.html.twig" %}

{% set is_interna = true %}
{% block content %}
		
		{% include 'AppBundle:Sitio:intro-internas.html.twig' %}
		
        <main id="main">

            <section id="complejo">
                <div class="container wow fadeInUp">
                    <header class="section-header">
                        <h2>Cabaña Lavanda</h2>
                    </header>
                    <h3>Planta baja</h3>
                    <p>Living comedor con hogar a leña, grandes ventanales al parque y cocina totalmente equipada.</p>
                    <h3>Planta alta</h3>
                    <p>Dormitorio principal con baño en suite con bañera. Cortinas black out, ventilador de techo.</p>
                    <h3>Equipamiento</h3>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Muebles estilo country</li>
                        <li><i class="fas fa-check-circle"></i> Televisor 25” con servicio de cable en el living</li>
                        <li><i class="fas fa-check-circle"></i> Cocina totalmente equipada. Vajilla completa</li>
                        <li><i class="fas fa-check-circle"></i> Heladera con freezer</li>
                        <li><i class="fas fa-check-circle"></i> Parrilla móvil con deck individual</li>
                        <li><i class="fas fa-check-circle"></i> Estacionamiento cubierto frente a la cabaña</li>
                        <li><i class="fas fa-check-circle"></i> Living comedor con hogar a leña</li>
                        <li><i class="fas fa-check-circle"></i> Wifi</li>
                        <li><i class="fas fa-check-circle"></i> Cocina convencional con horno</li>
                        <li><i class="fas fa-check-circle"></i> Microondas</li>
                        <li><i class="fas fa-check-circle"></i> Juego de mesa y sillas</li>
                    </ul>
                    {{ render(controller('AppBundle:Default:galeria',{galeria_id: 2})) }}
                </div>
            </section>

			{% include 'AppBundle:Sitio:formulario_contacto.html.twig' %}

        </main>
{% endblock %}        