{% extends "AppBundle::Sitio/layout.html.twig" %}

{% set is_interna = true %}
{% block content %}
		
		{% include 'AppBundle:Sitio:intro-internas.html.twig' %}
		
        <main id="main">

            <section id="complejo">
                <div class="container wow fadeInUp">
                    <header class="section-header">
                        <h2>Cabaña Mora Dulce</h2>
                    </header>
                    <h3>Mora Dulce planta baja</h3>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Cabaña para 2/4 personas</li>
                        <li><i class="fas fa-check-circle"></i> Living comedor con diván y carrito debajo. LCD</li>
                        <li><i class="fas fa-check-circle"></i> Cocina integrada con cocina convencional con horno, microondas y heladera con freezer</li>
                        <li><i class="fas fa-check-circle"></i> Dormitorio matrimonial con TV común, amplios placares, ventanas con black out</li>
                        <li><i class="fas fa-check-circle"></i> Baño compartimentado: separado del vanitory y de la parte húmeda</li>
                        <li><i class="fas fa-check-circle"></i> Deck con parrilla</li>
                        <li><i class="fas fa-check-circle"></i> Estacionamiento cubierto con media sombra</li>
                    </ul>
                    <h3>Mora Dulce Superior</h3>
                    <ul>
                         <li><i class="fas fa-check-circle"></i> Cabaña para 2/3 personas</li>
                        <li><i class="fas fa-check-circle"></i> Living comedor con diván. LCD</li>
                        <li><i class="fas fa-check-circle"></i> Cocina integrada con cocina convencional con horno, microondas y heladera con freezer</li>
                        <li><i class="fas fa-check-circle"></i> Dormitorio matrimonial con TV común, amplios placares, ventanas con black out</li>
                        <li><i class="fas fa-check-circle"></i> Baño compartimentado: separado del vanitory y de la parte húmeda</li>
                        <li><i class="fas fa-check-circle"></i> Deck con parrilla</li>
                        <li><i class="fas fa-check-circle"></i> Estacionamiento cubierto con media sombra</li>
                    </ul>
                    {{ render(controller('AppBundle:Default:galeria',{galeria_id: 5})) }}
                </div>
            </section>

			{% include 'AppBundle:Sitio:formulario_contacto.html.twig' %}

        </main>
{% endblock %}        