{% extends "AppBundle::Sitio/layout.html.twig" %}

{% set is_interna = true %}
{% block content %}
		
		{% include 'AppBundle:Sitio:intro-internas.html.twig' %}
		
        <main id="main">

            <section id="complejo">
                <div class="container wow fadeInUp">
              		<header class="section-header">
                        <h2>Cabaña Pauli</h2>
                    </header>
                    <h3>Planta baja</h3>
                    <p>Amplio living comedor con hogar a leña y LCD 35", cocina integrada, toilette. Por atrás deck con parrilla individual</p>                   
                    <h3>Planta alta</h3>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Dormitorio matrimonial con baño en suite con bañera, ventilador de techo y TV</li>
                        <li><i class="fas fa-check-circle"></i> Otro dormitorio con dos camas simples</li>
                        <li><i class="fas fa-check-circle"></i> Un estar con cama simple y carrito debajo</li>
                        <li><i class="fas fa-check-circle"></i> Un baño completo</li>
                        <li><i class="fas fa-check-circle"></i> Cierre de acceso a escalera para niños</li>
                    </ul>
                    <h3>Equipamiento</h3>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Living comedor con hogar a leña y LCD</li>
                        <li><i class="fas fa-check-circle"></i> Cocina integrada con microondas, healdera con freezer y cocina convencional con horno</li>
                        <li><i class="fas fa-check-circle"></i> Toilette</li>
                        <li><i class="fas fa-check-circle"></i> Alarma individual</li>
                        <li><i class="fas fa-check-circle"></i> Black Out en ventanas de dormitorios y estar</li>
                        <li><i class="fas fa-check-circle"></i> Muebles estilo country</li>
                        <li><i class="fas fa-check-circle"></i> Wifi</li>
                        <li><i class="fas fa-check-circle"></i> Cierre de acceso a escalera para niños en planta alta</li>
                    </ul>
                    {{ render(controller('AppBundle:Default:galeria',{galeria_id: 6})) }}
                </div>
            </section>

			{% include 'AppBundle:Sitio:formulario_contacto.html.twig' %}

        </main>
{% endblock %}        